body {
    background-color: black;
    /* padding: 1%; */
}

.card {
    border: none;
    background: #eee
}

.form-control {
    border-radius: 5px 0px 0px 5px;
}

.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px
}

.search-icon:hover {
    color: #fff !important
}

a:link {
    text-decoration: none
}

.card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    transition: all 2s
}

.card-inner:hover {
    transform: scale(1.1)
}

.mg-text span {
    font-size: 12px
}

#btnSearch {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    height: fit-content;
    border-radius: 0px 5px 5px 0px;
}

.btnBlack {
    color: #fff;
    background-color: transparent;
    border-color: white;
    /* border-style: double; */
    border-radius: 0px;
    border-width: 2px;
    font-weight: bold;
} 

.btnBlack:hover {
    color: #0a58ca;
    /* font-weight: bolder; */

}

#search-group {
    position: relative;
    display: inline-flex;
    border-collapse: separate;
}

footer {
    position: relative;
    bottom: 0px;
}

#search-group {
    display: -webkit-inline-box;
}

#group-buttons {
    position: fixed;
    right: 0%;
    top: 10%;
    z-index: 999;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.navListBtn {
        /* color: #fff !important; */
        background-color: black;
        border-color: white;
        /* border-style: double; */
        border-radius: 0px;
        border-width: 2px;
        font-weight: bold;
}

.navLink {
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 999;
    width: 100%;
}

a {
    color: white;
}

a:hover {
    color: #0a58ca;
}

.blackbox {
    background-color: #000000a6;
    border-radius: 12px;
    padding: 10px;
    box-shadow: black 3px;
}

#nav-button-top {
    width: 100%;
    margin: 10px;
    right: 0%;
    background-color: transparent !important;
    position: fixed;
    z-index: 9;
}

.input-group {
    width: 250px;
}

.bg-image-blur{
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image-blur .mask{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color:#fff;
}

.bg-image-blur .mask .text{
    height: 100%;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.bg-image-blur .mask .text p{
    margin:0;
}

.maskDark {
    background-color: rgba(0, 0, 0, 0.6)
}

.maskGradient {
    background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.7),
        rgba(91, 14, 214, 0.7) 100%
      );
    height: 100vh;
}

.memberCol {
    height:100vh;
    padding: 0%;
}

.memberColBlack {
    height:100vh;
    background-color: black;
    color: white;
    font-weight: bold;
}

.paragraphCenter {
    margin-top: 50%;
}

.carouselInnerColor {
    background: linear-gradient( 45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100% );
    height: 300px;
    margin-top: 20%;
    text-align: center;
    font-weight: bold;
}
html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}